body {
  color: white;
  margin: 0px;
  padding: 0px;
  background: url("man-g8f9989f9e_1920.jpg");
}
.left {
  display: block;
  /* border: 2px solid red; */
  position: absolute;
  left: 4px;
  top: 12px;
}
.left img {
  width: 70px;
  height: 62px;
  padding-left: 25px;
  
}
.left div {
  font-size: 15px;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding-left: 12px;
}

.mid {
  width: 48%;
  margin: 8px auto;
  /* border: 2px solid green; */
}
.right {
  position: absolute;
  right: 10px;
  top: 15px;
  display: inline-block;
  /* border: 2px solid yellow; */
}
.navbar {
  display: inline-block;
}
.navbar li {
  display: inline-block;
  font-size: 15px;
}
.navbar li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding: 4px 10px;
}
.navbar li a:hover,
.navbar li a.active {
  text-decoration: underline;
  color: rgb(170, 144, 178);
}
.btn {
  margin: 0px 5px;
  color: white;
  background-color: #544646;
  padding: 4px 4px;
  box-decoration-break: 2px solid grey;
  border-radius: 10px;
  font-size: 15px;
  cursor: pointer;
}
.btn:hover {
  background-color: grey;
}
